<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="<%- cssFile %>" />
  </head>
  <body class="container">
    <main class="row">
      <div class="col">
        <h1>Yet another starter kit</h1>
        <p>
          <strong>Browser time:</strong>
          <span id="currentTime">…</span>
        </p>
        <p hx-ext="current-time" data-target="#currentTime">
          <%- include('partials/serverTime') %>
        </p>
        <p>
          <button
            id="updateTimeBtn"
            class="button primary"
            hx-get="/api/server-time"
            hx-target="previous p"
          >
            Update server time
          </button>
        </p>
      </div>
    </main>

    <script src="/a/vendor/htmx.min.js"></script>
    <script type="module" src="<%- jsFile %>"></script>
  </body>
</html>
