<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="https://unpkg.com/chota@latest" /> -->
    <link rel="stylesheet" href="/a/style.css" />
  </head>
  <body class="container">
    <header></header>

    <main class="row">
      <div class="col">
        <h1 class="">NYSE opening times</h1>
      </div>
    </main>

    <footer></footer>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  </body>
</html>
